{%- comment -%}
	Renders a product form with variant selector and add to cart options
	
	Accepts:
	- product: {Object} Product Object
	- current_variant: {Object} Select or First Available variant of product
	- super_title?: {string} Optional super title element, renders as H2 tag
	
	Usage:
	{%- render 'product-form' with product as product, current_variant: current_variant, super_title: section.settings.super_title -%}

{%- endcomment -%}
{%- liquid
	comment
	# Subscription plan (ready to use)
	endcomment
	assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation
	
	if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
		assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
	endif
-%}
{{ 'product-form.css' | asset_url | stylesheet_tag }}
<form class="product-form" action="/card/add" method="post">
	<input type="hidden" name="id" :value="currentVariantId" data-variant-id>
	<input type="hidden" name="quantity" value="1">
	{%- unless product.has_only_default_variant -%}
		{%- comment -%}
			If the Option name contains `size` we display Buttons
		{%- endcomment -%}
		{%- for option in product.options_with_values -%}
				<div class="selector-wrapper mb-1" data-custom-selector>
					{%- assign name = option.name | downcase -%}
					{%- assign option_index = forloop.index0 -%}
					<label class="form-label{% if name contains 'size' %} mb-1{% else %} mb-3 mb-lg-2{% endif %}" for="SingleOptionSelector-{{ option_index }}">{{ option.name }}:</label>
					<ul class="d-flex flex-wrap">
						{%- if name contains 'size' -%}
							{%- liquid
								assign sizeArr = option.values | join: ','
								assign sizeArr = sizeArr | split:","
								assign sortedSizeArr = ""
								assign zeroFill = "00000000"
								for i in sizeArr
									assign thisFill = zeroFill | slice: i.size, zeroFill.size
									assign newValue = thisFill | append: i | append:","
									assign sortedSizeArr = sortedSizeArr | append: newValue
								endfor
								assign  sortedSizeArr = sortedSizeArr | split:"," | sort
							-%}
							{%- for i in sortedSizeArr -%}
								<li class="col-2 size" id="SingleOptionSelector-{{ option_index }}" data-id="SingleOptionSelector-{{ option_index }}" data-index="option{{ option.position }}" data-single-option-selector @click="onOptionClick" data-value="{{ i | abs }}">{{ i | abs }}</li>
							{%- endfor -%}
						{%- else -%}
							{%- for value in option.values -%}
								<li class="col-6" id="SingleOptionSelector-{{ option_index }}" data-id="SingleOptionSelector-{{ option_index }}" data-index="option{{ option.position }}" data-single-option-selector @click="onOptionClick" data-value="{{ value }}">{{ value }}</li>
							{%- endfor -%}
						{%- endif -%}
					</ul>
					<!-- <label class="form-label" for="SingleOptionSelector-{{ option_index }}">{{ option.name }}</label>
					<select class="form-select" id="SingleOptionSelector-{{ option_index }}" data-id="SingleOptionSelector-{{ option_index }}" data-index="option{{ option.position }}" data-single-option-selector>
						{%- for value in option.values -%}
						<option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
						{%- endfor -%}
					</select> -->
				</div>
		{%- endfor -%}
	{%- endunless -%}
	<div class="btn-wrapper mt-4 pt-2">
		<button class="btn btn-primary position-relative d-flex justify-content-center w-100" type="submit" name="add" data-add-to-cart disabled="disabled">
			<span data-add-to-cart-text>
				{%- if current_variant.available -%}{{ 'products.product.add_to_cart' | t }}{%- else -%}{{ 'products.product.sold_out' | t }}{%- endif -%}
			</span>
			<span class="price" v-html="current_variant.price"></span>
			<span class="loading-copy pulse">{{ 'products.product.add_to_cart_loading' | t }}</span>
		</button>
	</div>
</form>