<!doctype html>
<html lang="{{ shop.locale }}">
<head>
	{%- liquid 
		comment
		# Store metadata attributes
		endcomment
		render 'metadata'
		
		comment
		# Inline CSS
		endcomment
		render 'inline-css'
	-%}
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	{{ 'FavoritC.woff2' | asset_url | preload_tag: as: 'script', type: 'font/woff2', as: 'font', crossorigin: '' }}
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
	{{ 'bootstrap.css' | asset_url | stylesheet_tag: preload: true }}
	{{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
	{{ 'gift-card.css' | asset_url | stylesheet_tag: preload: true }}
	{{ content_for_header }}
	<script src="{{ 'vanilla-lazyload.js' | asset_url }}" defer crossorigin="anonymous"></script>
	<script src="{{ 'theme.js' | asset_url }}" defer crossorigin="anonymous"></script>
</head>
<body class="template-password">
	<main id="MainContent">
		<div class="container">
			<div class="row">
				<div class="col-12 px-4 px-lg-0 pt-5 pb-3 mt-lg-5">
					<div class="style-page-header mx-auto">
						<h1>{{ shop.name }}</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 px-4 px-lg-0">
					<div id="Login">
						<h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
						{%- form 'storefront_password',
							class: 'pwd-form search-form form-inline justify-content-between',
							data-needs-validation: true,
							novalidate: 'novalidate'
						-%}
							{{ form.errors | default_errors }}
							<div class="input-group w-100">
								<label class="visually-hidden" for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
								<input type="password" class="form-control px-3 px-0 me-2" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autocapitalize="off" required>
								<div class="invalid-feedback">Please enter your password</div>
								<button type="submit" class="btn btn-ternary d-flex justify-content-center align-items-center" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
							</div>
						{%- endform -%}
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
					{{ content_for_layout }}
				</div>
			</div>
		</div>
	</main>
</body>
</html>