<script src="{{ 'generic-slider.js' | asset_url }}" defer crossorigin="anonymous"></script>
{{ 'product.css' | asset_url | stylesheet_tag: preload: true }}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign icons = section.blocks | where: 'type', 'icon' -%}

<div class="container" data-section-id="{{ section.id }}" data-section-type="genericSlider">
	<div class="row d-lg-none">
		<div class="col-12">
			<div class="title-wrapper mb-3">
				<h1>{{ product.title }}</h1>
				<div class="review-wrapper d-flex align-items-center">
					<div class="d-flex">
						{%- for i in (1..5) -%}
							{%- render 'icons' with 'star' -%}
						{%- endfor -%}
					</div>
					<a class="reviews" href="#" title="Reviews">150 Reviews</a>
				</div>
				{%- comment -%} Display Price {%- endcomment -%}
				{%- render 'product-price' with current_variant as product, context: 'product-page' -%}
			</div>
		</div>
	</div>
	<div class="row image-slider d-lg-none mb-5" data-generic-slider data-loop="false" data-arrows="false" data-adaptive-height="false">
		{%- render 'product-gallery' with product as product -%}
	</div>
	<div class="row">
		<div class="col-lg-7 d-none desktop-gallery">
			{%- render 'product-gallery' with product as product -%}
		</div>
		<div class="col-lg-5">
			{%- render 'product-form' with product as product, current_variant: current_variant -%}
			<div class="guarantee-wrapper d-flex justify-content-center">
				{%- render 'icons' with 'package' -%}
				<p class="mb-0">90-day comfort guarantee</p>
			</div>
		</div>
	</div>
	{%- if icons.size > 0 -%}
		<div class="row icons mt-5">
			{%- for block in icons -%}
				{%- if block.settings.icon != blank and block.settings.title != blank -%}
					<div class="col-6 col-lg-2 d-flex flex-column mb-2">
						<div class="icon-wrapper d-flex justify-content-center align-items-center">
							{%- render 'responsive-image', image: block.settings.icon, image_class: 'img-fluid', wrapper_class: 'px-3' -%}
						</div>
						<div class="copy-wrapper text-center mb-3 px-3">
							<p class="mb-0">{{ block.settings.title }}</p>
						</div>
					</div>
				{%- endif -%}
			{%- endfor -%}
		</div>
		
	{%- endif -%}
</div>

{% schema %}
{
	"name": "Product Pages",
	"class": "section-product",
	"tag": "section",
	"blocks": [
		{
		"type": "@app"
		},
		{
			"type": "icon",
			"name": "Icon",
			"settings": [
				{
					"type": "image_picker",
					"id": "icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Copy"
				}
			]
		}
	]
}
{% endschema %}